---
---

@import "{{ site.theme }}";

.inner {
  max-width: 960px;
}

#navigation ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 20px;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: block;
  float: left;
  padding: 0px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover {
  background-color: #3a9ebf;
}
